@use '../base/layout';

// Stilmallen för diagram
.diagram {
  @include layout.flex(column, center, center, 'visible');
  width: 300px;
  background-color: rgb(233, 244, 255);
  border-radius: 10px;
}