@use '../base/dimens';
@use '../base/layout';
@use '../base/colors';

.jsdoc {
  @include dimens.border-width(100%);
  @include layout.flex(column, center, center, 'visible');
  @include colors.background('primary', 'light');
  padding: 1rem 0;
  border-bottom: 1px solid colors.$accent-light;

  &:hover {
    font-size: 1.2rem;
  }
}

// Stillmallen för JSDoc-länken
.jsdoc a,
.jsdoc a:link,
.jsdoc a:visited {
  @include colors.foreground('accent-variant', 'light');
}

// Nattläget för JSDoc-länken
@media (prefers-color-scheme: dark) {
  .jsdoc {
    border-bottom: 1px solid colors.$accent-dark;
    @include colors.background('primary', 'dark');
  }

  .jsdoc a,
  .jsdoc a:link,
  .jsdoc a:visited  {
    @include colors.foreground('accent-variant', 'dark');
  }
}